body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2ˀ");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 32px;
  text-align: center;
}
.clock {
  color: aliceblue;
  display: flex;
  gap: 20px;
}
.clock span {
  background-color: blue;
  opacity: 0.8;
  display: flex;
  width: 100px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.clock #text {
  height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: darkblue;
  opacity: 0.8;
}
.clock #ampm {
  margin-top: 10px;
  background-color: lightgreen;
  color: black;
}
